.ux-notification-red {
  color:#FF4949 !important;
}

.ux-notification-green {
  color:#000 !important;
}

.ux-notification-light {
  padding:20px !important;
}

.strike-through-row .x-grid-cell {
    text-decoration: line-through;
}
